.page-hero{
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.8),
			rgba(47, 48, 58, 0.8)
	);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
.custom-hero-bg{}

	padding-top: 200px;
	padding-bottom: 210px;

	.btn-hero{
		width: 200px;

	}


}

