.teams-box{
	background: #FFFFFF;
	/* material shadow v1 */
	padding: 0px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
max-width: 270px;

	h4{
		padding-top: 15px;
		font-size: 16px;
		text-align: center;

	}
	p{
		font-size: 16px;
		font-weight: 400;
		color:
			#757575;
		text-align: center;
	}

}

.bg-sec3{
	background: #F5F4FA;
}

.soc-block{
	display: flex;
	justify-content: center;
	a{
		margin-right: 20px;
		fill: #AFB1B8;
	}
	.border-svg{
		width: 44px;
		height: 44px;


		a{
			display: flex;
			color: #afb1b8;

			justify-content: center;
			align-items: center;
			width: 44px!important;
			height: 44px!important;
			border-radius: 50%;
			-webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
			&:hover{

				border-radius: 50%;
color: #FFFFFF;
				background-color: #2196f3;
			}

		}



	}
}
