section.page-hero(style="background-image: linear-gradient(\n" +
" to right,\n" +
" rgba(47, 48, 58, 0.8),\n" +
"rgba(47, 48, 58, 0.8)\n" +
" ), url(../images/common/hero.jpg);")
	div.container-xl
		div.row
			div.col-lg.text-center.custom-hero-bg
				h1.hero-tittle.text-white.text-center.fw-bold Эффективные решения <br> для вашего бизнеса
				button.btn-hero.btn.btn-primary.btn-lg(type='button') Заказать услугу


