section.page-hero.bg-gradient.bg-secondary
	div.container-xl
		div.row
			div.col-lg.text-center.custom-hero-bg
				h1.hero-tittle.text-white.text-center.fw-bold Эффективные решения <br> для вашего бизнеса
				button.btn-hero.btn.btn-primary.btn-lg(type='button') Заказать услугу


