section.pt-5.page-sec1
	div.container-xxl
		div.row


			div.col-md-6.col-xl-3.col-lg-6
				div.position-relative.bg-custom.align-items-center
					img.d-block.mx-auto.position-absolute.top-50.start-50.translate-middle(src="images/common/1.svg", alt="logo" )
				div
					h2.my-2.text-center.text-xl-start Внимание к деталям
					p.text-muted.text-xl-start.text-center Идейные соображения, а также начало повседневной работы по формированию позиции.



			div.col-md-6.col-xl-3.col-lg-6
				div.position-relative.bg-custom
					img.d-block.mx-auto.position-absolute.top-50.start-50.translate-middle(src="images/common/2.svg", alt="logo" )
				div
					h2.my-2.text-center.text-xl-start Внимание к деталям
					p.text-muted.text-xl-start.text-center Идейные соображения, а также начало повседневной работы по формированию позиции.




			div.col-md-6.col-xl-3.col-lg-6
				div.position-relative.bg-custom
					img.d-block.mx-auto.position-absolute.top-50.start-50.translate-middle(src="images/common/3.svg", alt="logo" )
				div
					h2.my-2.text-center.text-xl-start Внимание к деталям
					p.text-muted.text-xl-start.text-center Идейные соображения, а также начало повседневной работы по формированию позиции.




			div.col-md-6.col-xl-3.col-lg-6
				div.my-2.position-relative.bg-custom
					img.d-block.text-xl-start.mx-auto.position-absolute.top-50.start-50.translate-middle(src="images/common/4.svg", alt="logo" )
				div
					h2.my-2.text-center.text-xl-start Внимание к деталям
					p.text-muted.text-xl-start.text-center Идейные соображения, а также начало повседневной работы по формированию позиции.


