section.page-sec2.pb-4.pt-5
	div.container-xl
		div.row


			div.col-sm.position-relative
				img(src="images/common/lap.jpg", alt="logo" )
				div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.h-25.align-items-center.justify-content-center
					h3 Десктопные приложения



			div.col-sm.position-relative
				img(src="images/common/phone.jpg", alt="logo" )
				div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.h-25.align-items-center.justify-content-center
					h3 Десктопные приложения



			div.col-sm.position-relative
				img(src="images/common/mon.jpg", alt="logo" )
				div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.h-25.align-items-center.justify-content-center
					h3 Десктопные приложения

