section.page-sec2.pb-4.pt-5
	div.container-xl
		div.row.justify-content-center


			div.col-md-6.col-xl.col-lg.my-4
				div.sec2-img.mx-auto
					div.position-relative
						img.w-100(src="images/common/lap.jpg", alt="" )
						div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.py-3.align-items-center.justify-content-center
							a(href='')
								h3 Десктопные приложения



			div.col-md-6.col-xl.col-lg.my-4
				div.sec2-img.mx-auto
					div.position-relative
						img.w-100(src="images/common/phone.jpg", alt="" )
						div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.py-3.align-items-center.justify-content-center
							a(href='')
								h3 Мобильные приложения



			div.col-md-6.col-xl.col-lg.my-4
				div.sec2-img.mx-auto
					div.position-relative.m-lg-0.mt-md-4
						img.w-100(src="images/common/mon.jpg", alt="" )
						div.bg-div-custom.position-absolute.bottom-0.left-0.w-100.d-flex.py-3.align-items-center.justify-content-center
							a(href='')
								h3 Дизайнерские решения






