header.border-bottom.py-2
	nav.navbar.navbar-expand-lg
		div.container
			img.logo-main.me-5(src="images/common/logo.svg", alt="logo" )
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false')
				span.navbar-toggler-icon
			div.collapse.navbar-collapse(id='navbarContent')
				ul.navbar-nav.me-auto.text-dark.text-sm-center
					li.nav-item
						a(href="").nav-link Головна
					li.nav-item
						a(href="").nav-link Портфолио
					li.nav-item.mb-2
						a(href="").nav-link Контакты

				ul.navbar-nav.ms-auto.text-muted.text-sm-center
					li.nav-item
						a(href="").nav-link info@devstudio.com
					li.nav-item
						a(href="").nav-link +38 096 111 11 11
